<div class="location">
  <div class="element-bg-img">
    <img src="assets/images/1.jpg" alt="" class="img-responsive"> </div>
  <div class="location-bottom">
    <div class="ele-strip">
      <ul>
        <li>
          <a href="#" (click)="onMenuClick('hotel')">Hotel</a>
        </li>
        <li>
          <a href="#" (click)="onMenuClick('fishing')">Fishing</a>
        </li>
        <li>
          <a href="#" (click)="onMenuClick('tours')">Tours</a>
        </li>
        <li class="anc-bor">
          <a href="#" (click)="onMenuClick('weather')">Weather</a>
        </li>
      </ul>
    </div>
    <div class="village">
      <h3>Righteous indignation & like</h3>
      <span class="line"> </span>
      <div class="activity_box">
        <div class="scrollbar" id="style-2">
          <div class="activity-row" *ngFor="let location of locations$ | async | locationsFilter:type" (click)="onLocationClick(location)">
           <div class="activity-desc">
              <h5>{{location.address}}</h5>
              <p>{{location.description1}}</p>
              <p>{{location.description2}}</p>
              <h6>{{getPhone(location.phone)}}</h6>
            </div>
            <div class="activity-img">
              <ul>
                <li>
                  <img src="{{location.img1}}" class="img-small" alt="" />
                </li>
                <li>
                  <img src="{{location.img2}}" class="img-small" alt="" />
                </li>
              </ul>
            </div>
            <div class="clear"> </div>
          </div>     
        </div>  
      </div>
    </div>
  </div>
</div>